# Backend dependencies
fastapi
uvicorn[standard]
python-dotenv
beautifulsoup4
lxml
elevenlabs
aiolimiter
langgraph
mcp
langchain-mcp-adapters
gtts
requests
pydantic

# Frontend dependencies  
streamlit
langchain-anthropic
